@import "_reset.css";
:root {
  --nav-text: #969696;
  --white: #FFFFFF;
  --background-black: #000000;
  --background-gray: #0F0F0F;
}

body {
  max-width: 1920px;
  height: auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}
body header .top-line {
  max-width: 1980px;
  height: 44px;
  background-color: var(--background-black);
}
body header .top-line .tel {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: flex-start;
}
body header .top-line .inform {
  max-width: 1080px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  color: var(--nav-text);
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}
body header .top-line .login {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
body header nav {
  display: flex;
  background-color: var(--background-gray);
  color: #969696;
  height: 80px;
}
body header nav .second-line {
  max-width: 1080px;
  height: 80px;
  display: flex;
}
body header nav .second-line .icon {
  display: flex;
  flex-direction: row;
}
body header nav .second-line .menu {
  display: flex;
  flex-direction: row;
}
body main section .first-screen {
  background-image: url(/img/first-screen.png);
}